<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <footer>
        <div class="footer-info">
            <div class="f-info-social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>  
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="heading">&copy; Awaas Private Limited</div>
            <div class="f-info-links"> 
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
</body>
</html>